.invis {
  display: none;
}
:root {
  --namecolor: rgb(50, 238, 144);
  --selfname: rgb(136, 255, 24);
  --chatbox-color: rgb(54, 54, 54);
  --border-color: rgb(50, 238, 144);
  --message-hover: rgb(63, 63, 63);
  --chatbox-text: white;
  --logout-color: rgb(255, 79, 79);
  --alt: rgb(49, 65, 158);
  --button-color: rgb(50, 238, 144);
  --font: "Lato";
  --y-padding: 12px;
  --icon-size: 22px;
}

body {
  font-family: var(--font), sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0px;
  background-color: var(--chatbox-color);
}

.chatbox {
  display: block; /*for some reason inline-block breaks overflow-y: auto and its annoying*/
  border: 1px solid var(--border-color);
  /* width: calc(100vw - 18px); if sidemenu isnt open */
  width: calc(100vw - 318px);
  height:calc(100vh - 59px - 56px);
  padding: 8px;
  overflow-y: auto;
  overflow-wrap: break-word;
  background-color: var(--chatbox-color);
  color: var(--chatbox-text);
}

.stuff {
  display: block;
  border: 1px solid var(--border-color);
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: var(--chatbox-color);
  width: calc(282px);
  /* height: calc(100vh - 18px);
   */
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 8px;
}

#messagebox {
  display: block;
  /* width: calc(100vw - 18px); if sidemenu isnt open */
  width: calc(100vw - 318px);
  padding: 8px;
  height: 24px;
  border: 1px solid var(--border-color);
  border-top: none;
  background-color: var(--chatbox-color);
  color: var(--chatbox-text);
  position: absolute;
  left: 0px;
  bottom: 0px;
}

#messagebox:focus {
  outline: none;
}

#logout {
  margin-top: 8px;
}

.message {
  border-radius: 8px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: var(--y-padding);
  padding-bottom: var(--y-padding);
  display: flex;
  align-items: center;
}

.confirmAvatar {
  background-color: var(--chatbox-color);
  position: absolute;
  width: 11rem;
  height: 20rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--border-color);
  color: var(--border-color);
  border-radius: 15px;
}

.confirmAvatar button {
  position: absolute;
  bottom: 0%;
  width: 100%;
  left: 0%;
  border-color: var(--logout-color);
  color: var(--logout-color);
  border-radius: 15px;
}

.confirmAvatar button:hover {
  opacity: .7;
}

.confirmAvatar h3 {
  text-align: center;
}

.confirmAvatar img {
  background-color: rgba(128, 128, 128, 0.253);
  width: 100%;
  aspect-ratio: 1;
  border-radius: 15px;
  border: 0px;
}

.message:hover {
  background-color: var(--message-hover);
}

.author {
  color: var(--namecolor);
  margin-right: 4px;
  cursor: pointer;
}

.avatar {
  width: var(--icon-size);
  right: var(--icon-size);
  margin-right: 4px;
  border-radius: 8px;
  cursor: pointer;
}

.self {
  color: var(--selfname);
}

label {
  color: var(--namecolor);
}

button {
  border: 2px solid var(--button-color);
  padding: 12px;
  background-color: rgba(0, 255, 255, 0);
  border-radius: 15px;
  color: var(--button-color);
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: 400; 
  font-style: normal;
}

.signinstuff {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* the classic centering method */
}

#logout {
  border: 2px solid var(--logout-color);
  background-color: rgba(0, 255, 255, 0);
  color: var(--logout-color);
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 400;
}
/*did i mention i hate css*/

.manual {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 40vh;
  border: 1px solid var(--border-color);
  z-index: 6741;
  color: var(--namecolor);
  padding: 16px;
  background-color: var(--chatbox-color);
  border-radius: 15px;
  overflow-y: auto;
}

input {
  border-color: var(--border-color);
  box-shadow: none !important;
}

#username {
  outline: none;
}

#avatar {
  box-shadow: none !important;
  color: var(--border-color);
}

h1 {
  height: 38px;
  color: var(--border-color);
  margin: 0px;
  padding: 8px;
  width: calc(100vw - 318px);
  border: 1px solid var(--border-color);
}

.timestamp {
  font-size: 12px;
}

.cmd {
  border: 1px solid var(--border-color);
  margin: 8px;
  padding: 4px;
}

.poutine {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* width: calc(100vw - 318px);
  height:calc(100vh - 59px - 56px); */
  z-index: -69420;
}

.profile {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 18rem;
  height: 13rem;
  border: 1px solid var(--border-color);
  z-index: 6942;
  color: var(--namecolor);
  padding: 16px;
  background-color: var(--chatbox-color);
  border-radius: 15px;
  overflow-y: auto;
}

.profile h1 {
  font-size: 5%;
}

.profile img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2px solid var(--border-color);
}

.close {
  border-radius: 15px;
  border: 2px solid var(--border-color);
  position: absolute;
  right: 0px;
  top: 0px;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: translate(50%, -50%); */
}
